
@{
    ViewBag.Title = "Redirect";
}

<div class="container">
    <div class="col-lg-12">

        <h3 style="color:cadetblue"><strong>Your account is currently inactive.</strong></h3><br /><br />
        <h4><strong>Please, wait for validation or contact the Administrator for account activation.</strong></h4>
    </div>
</div>


