
@{
    ViewBag.Title = "Welcome Page";
}

<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h3 style="color:cadetblue"><strong>Welcome Page</strong></h3><br /><br />
        </div>
        <div class="col-lg-12">
            <h4><strong>You have been registered to the page and wait for authentication from the Administrator.</strong></h4>
            <h4>Please <a href="javascript:document.getElementById('logoutForm').submit()">click</a> to redirect to the home page</h4>
            <h4>Thank you.</h4>
        </div>
    </div>

</div>




