@{
    ViewBag.Title = "About Nextek";
}

<div class="container">
    <h3><strong>@ViewBag.Title</strong></h3><br /><br />
    <div class="row">
        <div class="col-lg-6">
            <h3 style="color:cadetblue"><strong><a href="http://nextekk.com/consulting"><span class="glyphicon glyphicon-eye-close"></span></a>  IT Consult</strong></h3>
            <p>
                <strong>
                    Do you need a custom web or mobile application for your business? Do you need to build up
                    your IT infrastructure or expand an existing one? Or do you need to leverage big data for
                    your organization?
                    Contact us today...
                </strong>
            </p>
        </div>
        <div class="col-lg-6">
            <h3 style="color:cadetblue"><strong><a href="http://nextekk.com/training"><span class="glyphicon glyphicon-briefcase"></span></a>  IT Training</strong></h3>
            <p>
                <strong>
                    We train you to be a software developer. We get you a job.
                    We guide you through the first year of your IT career.
                    Contact us today to learn how you can enjoy this opportunity for free.
                </strong>
            </p>
        </div>
        <div class="col-lg-6">
            <h3 style="color:cadetblue"><strong><a href="http://nextekk.com/training"><span class="glyphicon glyphicon-certificate"></span></a>  Career Support</strong></h3>
            <p>
                <strong>
                    Discover a tested and true way to land the IT job of your dream in the city of your choice.
                    Get plugged in to our huge network of IT recruiters today.
                </strong>
            </p>

        </div>

    </div>
</div>

